@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url(normalize.css);
:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

.attribution {
  display: none;
}

* {
  font-family: "Rubik", sans-serif;
}

h1 {
  color: var(--very-dark-blue);
}

p {
  font-size: 18px;
  color: var(--grayish-blue);
  line-height: 25px;
}

header {
  /* border: 1px solid black; */
  height: 100px;
}

header nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.logo {
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation a {
  text-decoration: none;
  color: var(--very-dark-blue);
  text-transform: uppercase;
  padding: 10px 30px;
}
.navigation a:hover {
  color: var(--soft-red);
}

.navigation a:last-child {
  background: var(--soft-red);
  color: white;
  border-radius: 0.25rem;
}
.navigation a:last-child:hover {
  background: white;
  color: var(--soft-red);
  outline: 1px solid var(--soft-red);
}

main {
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
  box-sizing: border-box;
}

.first-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.first-section > div {
  width: 50%;
  position: relative;
}
.first-section div:nth-child(1) img {
  width: 620px;
  height: auto;
}

.first-section div:nth-child(1)::after {
  position: absolute;
  left: 30%;
  bottom: 0;
  /* transform: translateY(-50%); */
  width: 200%;
  height: 70%;
  z-index: -1;
  content: " ";
  border-radius: 100rem;

  background: var(--soft-blue);
}

.first-section div:nth-child(2) h1 {
  font-size: 3rem;
  font-weight: 500;
}
.first-section div:nth-child(2) p {
  color: var(--grayish-blue);
}
.first-section div:nth-child(2) .buttons button {
  border: none;
  white-space: nowrap;
  padding: 15px 25px;
  border-radius: 0.5rem;
  font-weight: 500;
  color: var(--very-dark-blue);
  background: whitesmoke;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.first-section div:nth-child(2) .buttons button:first-child:hover {
  background: white;
  color: var(--soft-blue);
  outline: 1px solid var(--soft-blue);
  cursor: pointer;
}
.first-section div:nth-child(2) .buttons button:nth-child(2):hover {
  background: white;
  color: var(--grayish-blue);
  outline: 1px solid var(--grayish-blue);
  cursor: pointer;
}

.first-section div:nth-child(2) .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.first-section div:nth-child(2) .buttons button:first-child {
  background: var(--soft-blue);
  color: white;
}

.second-section > p,
.second-section > h1 {
  text-align: center;
}
.second-section > p {
  width: 550px;
  margin: auto;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  width: 700px;
  margin: auto;
  border-bottom: 2px solid whitesmoke;
}
.tabs > div {
  width: 100%;
}

.tabs a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--grayish-blue);
  box-sizing: border-box;
}

.tabs a:hover {
  color: var(--soft-red);
}

.tabs a.active {
  border-bottom: 3px solid var(--soft-red);
  color: var(--very-dark-blue);
}

.tabs-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}

.tab-viewer {
  height: 500px;
}

.tab-viewer article {
  display: none;
}
.tab-viewer article.show {
  display: flex;
  flex-direction: row;
}

.tab-viewer article > div:nth-child(1):after {
  position: absolute;
  content: "a";
  z-index: -1;
  top: 20%;
  left: -100%;
  width: 190%;
  height: 100%;
  border-radius: 100rem;
  background: var(--soft-blue);
}

.tab-viewer article > div {
  width: 50%;
  position: relative;
}
.tab-viewer article > div > img {
  width: 100%;
}
.tab-viewer article > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.tab-viewer article > div:nth-child(2) > div {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab-viewer article h1 {
  font-weight: 500;
}

.tab-viewer article button {
  border: none;
  background: var(--soft-blue);
  color: white;
  padding: 15px 25px;
  border-radius: 0.25rem;
  width: fit-content;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section > div:nth-child(1) {
  text-align: center;
}
.third-section > div:nth-child(1) p {
  width: 550px;
  margin: 0 auto;
}

.cards-section {
  height: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 40px 0 150px 0;
}

.cards-section .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: fit-content;
}

.card:nth-child(1) {
  place-self: start;
}
.card:nth-child(3) {
  place-self: end;
}

.card button {
  border: none;
  width: 90%;
  height: 50px;
  margin: 20px 0;
  background: var(--soft-blue);
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
}
.card button:hover {
  outline: 1px solid var(--soft-blue);
  background-color: white;
  color: var(--soft-blue);
  cursor: pointer;
}
.card p {
  line-height: normal;
  font-size: 1rem;
}

.card h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}
.card > div:first-child > img {
  padding: 40px 0;
}
.fourth-section > div:first-child p {
  width: 500px;
}
.fourth-section > div:first-child p,
.fourth-section > div:first-child h1 {
  text-align: center;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-bottom: 100px;
}
.accordion-section h3 {
  font-weight: 400;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  white-space: nowrap;
  width: 100%;
}
.accordion-section h3 > text:first {
  width: 100%;
}

.accordion-section > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.accordion-section div > div:first-child div > svg {
  pointer-events: none;
}
.accordion-section div > div:first-child div {
  width: fit-content;
  margin: 0 20px 0 0;
}

.accordion-section > div {
  border-top: 2px solid whitesmoke;
}

.accordion-section > div > div:hover h3:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.accordion-section > div > p {
  line-height: 35px;
  font-size: 1.08rem;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  margin: 0 0;
  display: block;
}

.accordion-section > div.show > p {
  height: 150px;
  display: block;
}
.accordion-section > div.show > div > div > svg {
  transform: rotate(180deg);
}
.accordion-section > div.show > div > div > svg > path {
  stroke: var(--soft-red);
}

.accordion-section > div:last-child > button {
  margin: 40px 0;
  border: none;
  background-color: var(--soft-blue);
  color: white;
  padding: 15px 30px;
  border-radius: 0.5rem;
}

.accordion-section > div:last-child {
  width: 100%;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--soft-blue);
  color: white;
}

footer > div:nth-child(1) {
  text-align: center;
  width: 450px;
  margin: 50px 0;
}
footer > div:nth-child(1) > h2 {
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
footer > div:nth-child(1) > h1 {
  font-weight: 500;
  color: whitesmoke;
}

footer > div:nth-child(1) > div {
  /* border: 1px solid black; */
  width: 100%;
}

footer > div:nth-child(1) > div form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 50px;
}
footer > div:nth-child(1) > div form > div {
  /* width: 50%; */
  box-sizing: border-box;
}
footer > div:nth-child(1) > div form > div:last-child {
  width: 30%;
}

footer > div:nth-child(1) > div form > div:first-child {
  /* overflow: hidden; */
  /* border-radius: 1rem; */
  /* padding: 0 20px; */
  width: 70%;
}
footer > div:nth-child(1) > div form > div:first-child > input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

footer > div:nth-child(1) > div form > div:first-child > input::placeholder {
  color: var(--grayish-blue);
}
footer > div:nth-child(1) > div form > div:first-child > input:invalid {
  border: 2px solid var(--soft-red);
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.input > p {
  display: none;
}
.input.show > p {
  display: block;
}

footer > div:nth-child(1) > div form > div:first-child > input:focus-visible {
  outline: none;
}
footer > div:nth-child(1) > div form > div:first-child > p {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  text-align: left;
  background: var(--soft-red);
  color: white;
  padding: 0 20px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-style: italic;
  font-weight: 500;
}

footer > div:nth-child(1) > div form > div:nth-child(2) > button {
  height: 100%;
  width: 100%;
  background: var(--soft-red);
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
}

footer > div:nth-child(1) > div form > div:nth-child(2) > button:hover {
  background: white;
  border: 2px solid var(--soft-red);
  color: var(--soft-red);
  cursor: pointer;
}
footer > div:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-dark-blue);
}
footer > div:nth-child(2) > div {
  width: 80%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

footer > div:nth-child(2) > div > :nth-child(1) > svg > g > path {
  fill: white;
}
footer > div:nth-child(2) > div > :nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
footer > div:nth-child(2) > div > :nth-child(2) > a {
  text-decoration: none;
  color: var(--grayish-blue);
  text-transform: uppercase;
}
footer > div:nth-child(2) > div > :nth-child(2) > a:hover {
  color: var(--soft-red);
}
footer > div:nth-child(2) > div > :nth-child(3) {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
footer > div:nth-child(2) > div > :nth-child(3) > div > svg {
  pointer-events: none;
}
footer > div:nth-child(2) > div > :nth-child(3) > div:hover {
  cursor: pointer;
}
footer > div:nth-child(2) > div > :nth-child(3) > div:hover > svg > path {
  fill: var(--soft-red);
}

.social-network {
  display: none;
}

.logo > div:last-child {
  display: none;
}

@media screen and (max-width: 375px) {
  nav .navigation {
    display: none;
  }
  header nav.show .navigation > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav.show .navigation {
    width: 100%;
    display: initial;
  }
  nav.show .navigation a:first-child {
    border-top: 1px solid var(--grayish-blue);
  }
  nav.show .navigation a:last-child {
    margin-top: 20px;
    border-bottom: 0;
    background: rgba(0, 0, 0, 0);
    border: 1px solid whitesmoke;
  }
  nav.show .navigation a {
    color: whitesmoke;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--grayish-blue);
    font-size: 1.2rem;
  }

  nav.show .social-network {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 40px;
  }
  nav.show .social-network > img {
    height: fit-content;
  }
  .first-section {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .first-section > div {
    width: 100%;
  }
  .first-section > div:first-child > img {
    width: 100%;
  }
  .first-section div:nth-child(1)::after {
    height: 75%;
  }
  .first-section > div:nth-child(2) {
    text-align: center;
  }
  .first-section > div:nth-child(2) > h1 {
    font-size: 2rem;
  }
  .first-section > div:nth-child(2) > p {
    font-size: 1rem;
  }
  .first-section > div:nth-child(2) > .buttons {
    height: 50px;
  }
  .first-section > div:nth-child(2) > .buttons button {
    width: 50%;
    padding: 0;
    height: 100%;
  }
  .second-section > h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .second-section > p {
    width: 100%;
    font-size: 0.95rem;
  }
  .tabs {
    width: 100%;
    height: auto;
    flex-direction: column;
    border: none;
  }
  .tabs > div {
    border-top: 1px solid whitesmoke;
  }
  .tabs > div:last-child {
    border-bottom: 1px solid whitesmoke;
  }
  .tabs a {
    height: 50px;
    width: fit-content;
    margin: 0 auto;
  }
  .tab-viewer article.show {
    flex-direction: column;
  }
  .tab-viewer article {
    gap: 70px;
  }
  .tab-viewer article > div {
    width: 100%;
  }
  .tab-viewer article > div:last-child > div {
    width: 100%;
    text-align: center;
  }
  .tab-viewer article > div:last-child > div > h1 {
    font-size: 1.5rem;
  }
  .tab-viewer article > div:last-child > div > button {
    display: none;
  }
  .third-section > div:first-child {
    width: 100%;
  }
  .third-section > div:first-child p {
    width: 100%;
    font-size: 1rem;
  }
  .third-section > div:first-child h1 {
    width: 100%;
    font-weight: 500;
    font-size: 1.55rem;
  }
  .cards-section {
    flex-direction: column;
    height: auto;
  }
  .fourth-section > div {
    width: 100%;
  }
  .fourth-section > div:first-child p {
    width: 100%;
    font-size: 1rem;
  }
  .fourth-section > div:first-child h1 {
    font-size: 1.55rem;
  }
  .fourth-section > div.accordion-section div h3 {
    font-size: 0.95rem;
    user-select: none;
  }
  .fourth-section > div.accordion-section div div {
    margin: 0;
  }
  .accordion-section > div {
    border: none;
    border-bottom: 3px solid whitesmoke;
  }
  .accordion-section > div:last-child {
    border: none;
  }
  .accordion-section > div.show > p {
    height: 350px;
    font-size: 0.95rem;
  }
  footer > div:first-child {
    padding: 0 20px;
    box-sizing: border-box;
  }
  footer > div:nth-child(1) {
    width: 100%;
  }
  footer > div:nth-child(1) > h1 {
    font-size: 1.6rem;
    color: whitesmoke;
  }
  footer > div:nth-child(1) > div form {
    flex-direction: column;
    height: auto;
    gap: 45px;
  }
  footer > div:nth-child(1) > div form > div:first-child {
    width: 100%;
    height: 50px;
  }
  footer > div:nth-child(1) > div form > div:last-child {
    width: 100%;
    height: 50px;
  }
  footer > div:nth-child(1) > div form > div:first-child > input {
    height: 100%;
  }
  footer > div:nth-child(2) {
    width: 100%;
    padding: 40px 0;
  }
  footer > div:nth-child(2) > div {
    flex-direction: column;
    height: fit-content;
    gap: 20px;
  }
  footer > div:nth-child(2) > div > :nth-child(2) {
    flex-direction: column;
    align-items: center;
  }
  footer > div:nth-child(2) > div > :nth-child(2) > a {
    color: whitesmoke;
  }
  header {
    position: relative;
    box-sizing: border-box;
  }

  header nav {
    transition: width 0.5s;
  }

  header nav.show {
    position: fixed;
    top: 0;
    left: 49.9%;
    transform: translateX(-50%);
    height: 100vh;
    width: 100vw;
    background: hsla(229, 31%, 21%, 0.9);
    z-index: 2;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    user-select: none;
  }
  nav.show .logo > svg > g > g > circle {
    fill: whitesmoke;
  }
  nav.show .logo > svg > g > g > path {
    fill: var(--very-dark-blue);
  }
  nav.show .logo > svg > g > path {
    fill: whitesmoke;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
  }

  nav.show .logo {
    /* margin: 30px; */
    height: 200px;
  }
  .logo > svg {
    width: 100%;
  }
  .logo > div:hover {
    cursor: pointer;
  }
  nav.show .logo > div > img:first-child {
    display: none;
  }
  nav.show .logo > div > img:last-child {
    display: initial;
  }
  .logo > div > img:last-child {
    display: none;
  }
}
